In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../../original_data/recipes.csv")

Adding a short description for each column so we can see the column names, dtypes and short descriptions below.

In [28]:
column_descriptions = ["id primary starting at 38", "Recipe Name", "foreign key for author", "Kaggle Handle?", "Hours or Minutes -- Why the 'PT'?", 
                       "Same Format", "Sum the two", "datetime object not recognized by pandas", "Not a string because of NaN values?", 
                       "Image url, also not a string", "Should be a string", "tuple of keywords", "tuple", "also a tuple, corresponding to the previous tuples", 
                       "Average Rating? Between 1 and 5 stars?", "Float, but probably should be int", "**These are all Numerical Nutritional Content**"
                       ]
## Filler for Nutrition Info
column_descriptions += ["" for column_name in list(df.columns)[len(column_descriptions):-2]]
## Last two
column_descriptions += ["Lots of NaN values", "Tuple of strings (steps for preparation)"]

In [29]:
columns_table = pd.DataFrame({"Columns": df.columns, "Data Types": [df[col].dtype for col in df.columns], "Descriptions": column_descriptions})
columns_table

,Columns,Data Types,Descriptions
0,RecipeId,int64,id primary starting at 38
1,Name,object,Recipe Name
2,AuthorId,int64,foreign key for author
3,AuthorName,object,Kaggle Handle?
4,CookTime,object,Hours or Minutes -- Why the 'PT'?
5,PrepTime,object,Same Format
6,TotalTime,object,Sum the two
7,DatePublished,object,datetime object not recognized by pandas
8,Description,object,Not a string because of NaN values?
9,Images,object,"Image url, also not a string"
10,RecipeCategory,object,Should be a string
11,Keywords,object,tuple of keywords
12,RecipeIngredientQuantities,object,tuple
13,RecipeIngredientParts,object,"also a tuple, corresponding to the previous tu..."
14,AggregatedRating,float64,Average Rating? Between 1 and 5 stars?
15,ReviewCount,float64,"Float, but probably should be int"
16,Calories,float64,**These are all Numerical Nutritional Content**
17,FatContent,float64,
18,SaturatedFatContent,float64,
19,CholesterolContent,float64,
20,SodiumContent,float64,
21,CarbohydrateContent,float64,
22,FiberContent,float64,
23,SugarContent,float64,
24,ProteinContent,float64,
25,RecipeServings,float64,
26,RecipeYield,object,Lots of NaN values
27,RecipeInstructions,object,Tuple of strings (steps for preparation)

**Comment/Quesiton:**  
In some cases like AuthorName (or even Name), we have an object dtype when it seems like it should be a string. From using the .info() method, many of these columns have no NaN values, so why isn't Pandas detecting the correct data type for these columns?

#### Dataframe Sample

In [4]:
df[df.columns[0:8]].head()

,RecipeId,Name,AuthorId,AuthorName,CookTime,PrepTime,TotalTime,DatePublished
0,38,Low-Fat Berry Blue Frozen Dessert,1533,Dancer,PT24H,PT45M,PT24H45M,1999-08-09T21:46:00Z
1,39,Biryani,1567,elly9812,PT25M,PT4H,PT4H25M,1999-08-29T13:12:00Z
2,40,Best Lemonade,1566,Stephen Little,PT5M,PT30M,PT35M,1999-09-05T19:52:00Z
3,41,Carina's Tofu-Vegetable Kebabs,1586,Cyclopz,PT20M,PT24H,PT24H20M,1999-09-03T14:54:00Z
4,42,Cabbage Soup,1538,Duckie067,PT30M,PT20M,PT50M,1999-09-19T06:19:00Z

In [5]:
df[df.columns[8:12]].head()

,Description,Images,RecipeCategory,Keywords
0,Make and share this Low-Fat Berry Blue Frozen ...,"c(""https://img.sndimg.com/food/image/upload/w_...",Frozen Desserts,"c(""Dessert"", ""Low Protein"", ""Low Cholesterol"",..."
1,Make and share this Biryani recipe from Food.com.,"c(""https://img.sndimg.com/food/image/upload/w_...",Chicken Breast,"c(""Chicken Thigh & Leg"", ""Chicken"", ""Poultry"",..."
2,This is from one of my first Good House Keepi...,"c(""https://img.sndimg.com/food/image/upload/w_...",Beverages,"c(""Low Protein"", ""Low Cholesterol"", ""Healthy"",..."
3,This dish is best prepared a day in advance to...,"c(""https://img.sndimg.com/food/image/upload/w_...",Soy/Tofu,"c(""Beans"", ""Vegetable"", ""Low Cholesterol"", ""We..."
4,Make and share this Cabbage Soup recipe from F...,"""https://img.sndimg.com/food/image/upload/w_55...",Vegetable,"c(""Low Protein"", ""Vegan"", ""Low Cholesterol"", ""..."

In [14]:
df[df.columns[12:19]].head()

,RecipeIngredientQuantities,RecipeIngredientParts,AggregatedRating,ReviewCount,Calories,FatContent,SaturatedFatContent
0,"c(""4"", ""1/4"", ""1"", ""1"")","c(""blueberries"", ""granulated sugar"", ""vanilla ...",4.5,4.0,170.9,2.5,1.3
1,"c(""1"", ""4"", ""2"", ""2"", ""8"", ""1/4"", ""8"", ""1/2"", ...","c(""saffron"", ""milk"", ""hot green chili peppers""...",3.0,1.0,1110.7,58.8,16.6
2,"c(""1 1/2"", ""1"", NA, ""1 1/2"", NA, ""3/4"")","c(""sugar"", ""lemons, rind of"", ""lemon, zest of""...",4.5,10.0,311.1,0.2,0.0
3,"c(""12"", ""1"", ""2"", ""1"", ""10"", ""1"", ""3"", ""2"", ""2...","c(""extra firm tofu"", ""eggplant"", ""zucchini"", ""...",4.5,2.0,536.1,24.0,3.8
4,"c(""46"", ""4"", ""1"", ""2"", ""1"")","c(""plain tomato juice"", ""cabbage"", ""onion"", ""c...",4.5,11.0,103.6,0.4,0.1

In [17]:
df[df.columns[19:27]].head()

,CholesterolContent,SodiumContent,CarbohydrateContent,FiberContent,SugarContent,ProteinContent,RecipeServings,RecipeYield
0,8.0,29.8,37.1,3.6,30.2,3.2,4.0,NaN
1,372.8,368.4,84.4,9.0,20.4,63.4,6.0,NaN
2,0.0,1.8,81.5,0.4,77.2,0.3,4.0,NaN
3,0.0,1558.6,64.2,17.3,32.1,29.3,2.0,4 kebabs
4,0.0,959.3,25.1,4.8,17.7,4.3,4.0,NaN

In [18]:
df[df.columns[27:]].head()

                                  RecipeInstructions
0  c("Toss 2 cups berries with sugar.", "Let stan...
1  c("Soak saffron in warm milk for 5 minutes and...
2  c("Into a 1 quart Jar with tight fitting lid, ...
3  c("Drain the tofu, carefully squeezing out exc...
4  c("Mix everything together and bring to a boil...

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 522517 entries, 0 to 522516
Data columns (total 28 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   RecipeId                    522517 non-null  int64
 1   Name                        522517 non-null  object
 2   AuthorId                    522517 non-null  int64
 3   AuthorName                  522517 non-null  object
 4   CookTime                    439972 non-null  object
 5   PrepTime                    522517 non-null  object
 6   TotalTime                   522517 non-null  object
 7   DatePublished               522517 non-null  object
 8   Description                 522512 non-null  object
 9   Images                      522516 non-null  object
 10  RecipeCategory              521766 non-null  object
 11  Keywords                    505280 non-null  object
 12  RecipeIngredientQuantities  522514 non-null  object
 13  RecipeIngredientParts       522517 non-null  object
 14  AggregatedRating            269294 non-null  float64
 15  ReviewCount                 275028 non-null  float64
 16  Calories                    522517 non-null  float64
 17  FatContent                  522517 non-null  float64
 18  SaturatedFatContent         522517 non-null  float64
 19  CholesterolContent          522517 non-null  float64
 20  SodiumContent               522517 non-null  float64
 21  CarbohydrateContent         522517 non-null  float64
 22  FiberContent                522517 non-null  float64
 23  SugarContent                522517 non-null  float64
 24  ProteinContent              522517 non-null  float64
 25  RecipeServings              339606 non-null  float64
 26  RecipeYield                 174446 non-null  object
 27  RecipeInstructions          522517 non-null  object
dtypes: float64(12), int64(2), object(14)
memory usage: 111.6+ MB